<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Kisah Nabi - <%= res.result.name %></title>
</head>
<body>
<div class="heading">
    <h1>Kisah <%= res.result.name %></h1>
  </div>
  <div class="container">
    <div class="nav"><a href="./"><i class="fa fa-home"></i></a><a href="https://wa.me/6282387804410" target="_blank"><i class="fab fa-whatsapp"></i></a><a href="https://github.com/rizky878" target="_blank"><i class="fab fa-github"></i></a><a href="https://instagram.com/rizkyfadilah8_" target="_blank"><i class="fab fa-instagram"></i></a></div>
    <div class="geeks">
    <img src=<%= res.result.image_url %> alt=<%= res.result.name %>>
    </div>
    <center><h2>Tentang <%= res.result.name %></h2></center>
    <div class="teks">
    <b>Nama : </b> <%= res.result.name %> <br>
    <b>Tahun Kelahiran : </b> <%= res.result.thn_kelahiran %> <br>
    <b>Usia : </b> <%= res.result.usia %> <br>
    <b>Tempat : </b> <%= res.result.tmp %>
    </div>
    <center><h2>Kisah <%= res.result.name %></h2></center>
    <pre><%= res.result.description.trim() %></pre>
    </div>
  </div>
  <h5 class="message">Copyright Rzkyy Dev - <%= new Date().getFullYear() %></h5>
</body>
</html>
